Notebook 01 - Conectando SQLITE e criando um Banco de Dados -- 13JAN2020
SQlite
#https://www.sqlite.org/www.sqlite.org

In [1]:
#!pip install sqlite
import sqlite3
# Comandos abaixo referem-se a alteração de dados
# importação de biblioteca sqlite 3, conjunto de comandos pré-definidos

01- Conecta e Cria o banco de dados

In [2]:
conn = sqlite3.connect('iniciosql.db')
conn.close()
# extensão 'db' means banco de dados. sql = structure query language

In [3]:
# 02- Cria a tabela clientes1 no banco de dados 
# cursor: é um interador que permite navegar e manipular os registros do bd.
# execute: lê e executa comandos SQL puro diretamente no bd.

In [4]:
import sqlite3
# biblioteca de comandos sql light ou sql lite, versão = 3
# conectando...
conn = sqlite3.connect('iniciosql.db')
# definindo um cursor
cursor = conn.cursor()

# criando a tabela (schema = 
# esquema ou formato de tabela ou arquivo a ser manipulado)
cursor.execute("""
CREATE TABLE clientes (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER,
        cpf     VARCHAR(11) NOT NULL,
        email TEXT NOT NULL,
        fone TEXT,
        cidade TEXT,
        uf VARCHAR(2) NOT NULL,
        criado_em DATE NOT NULL
);
""")
# definição das variáveis, nos seus tipos. Var = variável. 
# Char = caractere. Autoincrement = incremento automático
print('Tabela clientes criada com sucesso.')
# desconectando...fechando a conexão
# cor vermelha = função em criação ou ação a ser feita, com os detalhes
conn.close()

Tabela clientes criada com sucesso.

03 - Inserindo um registro com comando SQL.  
A única novidade aqui é o método commit(). É ele que grava de fato as alterações na tabela. 
Lembrando que uma tabela é alterada com as instruções SQL ``INSERT, UPDATE`` e ``DELETE``.

In [5]:
# 03_Inserindo dados na tabela clientes
import sqlite3
# sempre use as três aspas """, como notação padrão da linguagem

conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Regis', 35, '00000000000', 'regis@email.com', '11-98765-4321', 'Sao Paulo', 'SP', '2014-06-08')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
""")

cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES ('Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
""")

# gravando no bd
conn.commit()
print('Dados inseridos com sucesso.')
conn.close()

Dados inseridos com sucesso.

04- Inserindo n registros com uma tupla de dados.
Usando uma lista podemos inserir vários registros de uma vez, e o método executemany faz essa ação.

Observe o uso de ? isto significa que no lugar de cada ? entrarão os valores da lista na sua posição respectiva. É o que nós chamamos de parâmetros de entrada. 'Tupla' = estrutura de dados em Python, próxima do que é uma lista.

In [6]:
# 04 Inserindo dados através de uma lista
# import sqlite3
# outra forma de inserir dados no banco de dados, 
# depois de criar as tabelas e suas estruturas
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# criando uma lista de dados
lista = [(
    'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09'),
    ('Joao', 21, '55555555555', 'joao@email.com',
     '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09'),
    ('Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10')]
# inserindo dados na tabela
cursor.executemany("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES (?,?,?,?,?,?,?,?)
""", lista)
conn.commit()
print('Dados inseridos com sucesso.')
conn.close()

Dados inseridos com sucesso.

05- Lendo os dados.
Aqui nós usamos SELECT. 
O método fetchall() retorna o resultado do SELECT.

In [7]:
# 05 Lendo os dados da tabele cliente
#import sqlite3
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")
for linha in cursor.fetchall():
    print(linha)
conn.close()

(1, 'Regis', 35, '00000000000', 'regis@email.com', '11-98765-4321', 'Sao Paulo', 'SP', '2014-06-08')
(2, 'Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
(3, 'Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
(4, 'Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
(5, 'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09')
(6, 'Joao', 21, '55555555555', 'joao@email.com', '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09')
(7, 'Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10')

06 - Inserindo um registro com parâmetros de entrada definido pelo usuário.
Neste exemplo, usaremos parâmetros de entrada, que deverão ser digitados pelo usuário. 
Esta é a forma mais desejável de entrada de dados porque o usuário pode digitar os dados em tempo de execução.

In [8]:
#import sqlite3
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# solicitando os dados ao usuário
# p = parâmetro
p_nome = input('Nome: ')
p_idade = input('Idade: ')
p_cpf = input('CPF: ')
p_email = input('Email: ')
p_fone = input('Fone: ')
p_cidade = input('Cidade: ')
p_uf = input('UF: ')
p_criado_em = input('Criado em (yyyy-mm-dd): ')
# inserindo dados na tabela
cursor.execute("""
INSERT INTO clientes (nome, idade, cpf, email, fone, cidade, uf, criado_em)
VALUES (?,?,?,?,?,?,?,?)
""", (p_nome, p_idade, p_cpf, p_email, p_fone, p_cidade, p_uf, p_criado_em))

conn.commit()
# usar comandos "delete" ou "update" para se alterar algum dado que estiver digitado errado...

print('Dados inseridos com sucesso.')

conn.close()

Nome: Luis
Idade: 34
CPF: 3333333333
Email: luis@joint
Fone: 3333
Cidade: matchupichu
UF: 34
Criado em (yyyy-mm-dd): 2020-01-02
Dados inseridos com sucesso.

In [ ]:
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()

# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")
for linha in cursor.fetchall():
    print(linha)
conn.close()

07 - Update - Alterando os dados.
Observe o uso das variáveis id_cliente onde definimos o id a ser alterado, novo_fone e 
novo_criado_em usados como parâmetro para alterar os dados.
Neste caso, salvamos as alterações com o método commit().

In [9]:
# Comando update -- alteração de um determinado registro para um campo específico.
# 07_update_data.py
#import sqlite3

conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()

id_cliente = 1
novo_fone = '11-1000-2014'
novo_criado_em = '2014-06-11'

# alterando os dados da tabela
cursor.execute("""
UPDATE clientes
SET fone = ?, criado_em = ?
WHERE id = ?
""", (novo_fone, novo_criado_em, id_cliente))

conn.commit()
print('Dados atualizados com sucesso.')
conn.close()

Dados atualizados com sucesso.

In [10]:
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")
for linha in cursor.fetchall():
    print(linha)
conn.close()

(1, 'Regis', 35, '00000000000', 'regis@email.com', '11-1000-2014', 'Sao Paulo', 'SP', '2014-06-11')
(2, 'Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
(3, 'Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
(4, 'Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
(5, 'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09')
(6, 'Joao', 21, '55555555555', 'joao@email.com', '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09')
(7, 'Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10')
(8, 'Luis', 34, '3333333333', 'luis@joint', '3333', 'matchupichu', '34', '2020-01-02')

08 - Delete - Deletando os dados. 
     Vamos excluir um registro pelo seu id.

In [11]:
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
id_cliente = 1
# excluindo um registro da tabela
cursor.execute("""
DELETE FROM clientes
WHERE id = ?
""", (id_cliente,))
conn.commit()
print('Registro excluido com sucesso.')

conn.close()

Registro excluido com sucesso.

In [12]:
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")
for linha in cursor.fetchall():
    print(linha)
conn.close()

(2, 'Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09')
(3, 'Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09')
(4, 'Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08')
(5, 'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09')
(6, 'Joao', 21, '55555555555', 'joao@email.com', '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09')
(7, 'Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10')
(8, 'Luis', 34, '3333333333', 'luis@joint', '3333', 'matchupichu', '34', '2020-01-02')

09-  Adicionando uma nova coluna - ALTER TABLE

In [13]:
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# adicionando uma nova coluna na tabela clientes
cursor.execute("""
ALTER TABLE clientes
ADD COLUMN bloqueado BOOLEAN;
""")
conn.commit()
print('Novo campo adicionado com sucesso.')
conn.close()

Novo campo adicionado com sucesso.

In [14]:
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")
for linha in cursor.fetchall():
    print(linha)
conn.close()
# para ter uma determinada ordem, usar o SELECT com a sequencia das colunas que se quer

(2, 'Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09', None)
(3, 'Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09', None)
(4, 'Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08', None)
(5, 'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09', None)
(6, 'Joao', 21, '55555555555', 'joao@email.com', '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09', None)
(7, 'Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10', None)
(8, 'Luis', 34, '3333333333', 'luis@joint', '3333', 'matchupichu', '34', '2020-01-02', None)

10 -  Fazendo backup do banco de dados

Biblioteca io que salva os dados num arquivo externo. Salva o script do sql da tabela atual.  
Através do método write, e o método iterdump() que exporta a estrutura e dados da tabela para o arquivo externo.

In [15]:
import io
conn = sqlite3.connect('iniciosql.db')
with io.open('clientes_dump.sql', 'w') as f:
    for linha in conn.iterdump():
        f.write('%s\n' % linha)
print('Backup realizado com sucesso.')
print('Salvo como clientes_dump.sql')
conn.close()

Backup realizado com sucesso.
Salvo como clientes_dump.sql

11- Recuperando o banco de dados (importando dados)

# Criaremos um novo banco de dados e iremos reconstruir a tabela e 
os dados com o arquivo clientes_dump.sql. 
# O método read() lê o conteúdo do arquivo clientes_dump.sql e o método 
executescript() executa as instruções SQL escritas
# neste arquivo.

In [16]:
conn = sqlite3.connect('clientes_recuperado.db')
cursor = conn.cursor()
# novo banco de dados = clientes_recuperado
f = io.open('clientes_dump.sql', 'r')
sql = f.read()
cursor.executescript(sql)
print('Banco de dados recuperado com sucesso.')
print('Salvo como clientes_recuperado.db')
conn.close()

Banco de dados recuperado com sucesso.
Salvo como clientes_recuperado.db

In [17]:
conn = sqlite3.connect('clientes_recuperado.db')
cursor = conn.cursor()
# lendo os dados
cursor.execute("""
SELECT * FROM clientes;
""")
for linha in cursor.fetchall():
    print(linha)
conn.close()

(2, 'Aloisio', 87, '11111111111', 'aloisio@email.com', '98765-4322', 'Porto Alegre', 'RS', '2014-06-09', None)
(3, 'Bruna', 21, '22222222222', 'bruna@email.com', '21-98765-4323', 'Rio de Janeiro', 'RJ', '2014-06-09', None)
(4, 'Matheus', 19, '33333333333', 'matheus@email.com', '11-98765-4324', 'Campinas', 'SP', '2014-06-08', None)
(5, 'Fabio', 23, '44444444444', 'fabio@email.com', '1234-5678', 'Belo Horizonte', 'MG', '2014-06-09', None)
(6, 'Joao', 21, '55555555555', 'joao@email.com', '11-1234-5600', 'Sao Paulo', 'SP', '2014-06-09', None)
(7, 'Xavier', 24, '66666666666', 'xavier@email.com', '12-1234-5601', 'Campinas', 'SP', '2014-06-10', None)
(8, 'Luis', 34, '3333333333', 'luis@joint', '3333', 'matchupichu', '34', '2020-01-02', None)

In [ ]:
## Deletando as tabelas criadas
# retirar uma determinada coluna, aqui no caso "clientes"
conn = sqlite3.connect('iniciosql.db')
cursor = conn.cursor()
cursor.execute("""
DROP TABLE clientes
""")
conn.close()
conn = sqlite3.connect('clientes_recuperado.db')
cursor = conn.cursor()
cursor.execute("""
DROP TABLE clientes
""")
conn.close()

Fim